<!DOCTYPE html>
<html>
<head>
	<title>Votes</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
	<style type="text/css">
		.sr-only {
		  position: absolute;
		  width: 1px;
		  height: 1px;
		  padding: 0;
		  margin: -1px;
		  overflow: hidden;
		  clip: rect(0,0,0,0);
		  border: 0;
		}
	</style>
</head>
<body>
	<h1>Votes</h1>

	{% if profile %}
	<p>Hey {{profile["name"]}}! Nice to see you.</p>

	<h2>Sequences</h2>
	{% if sequences %}
	<p>Here are your sequences.</p>
	<ul>
		{% for s in sequences %}
		<li><a href="{{ url_for('get_draft_sequence', slug=s['slug']) }}">{{ s.title }}</a></li>
		{% endfor %}
	</ul>
	<p>
		You can start another one here:
		<a href="{{ url_for('get_new_sequence') }}">new sequence</a>.
	</p>
	{% else %}
	<p>
		It looks like you haven't started any sequences yet. You can start one sequence here:
		<a href="{{ url_for('get_new_sequence') }}">new sequence</a>.
	</p>
	{% endif %}

	<h2>Surveys</h2>
	{% if graphs %}
	<p>Here are your current surveys.</p>
	<ul>
		{% for g in graphs %}
		<li><a href="{{ url_for('get_graph', slug=g['slug']) }}">{{ g.question }}</a></li>
		{% endfor %}
	</ul>
	<p>You can start another one here: <a href="{{ url_for('get_new_survey') }}">new survey</a>.</p>
	{% else %}
	<p>Start your own survey here: <a href="{{ url_for('get_new_survey') }}">new survey</a>.</p>
	{% endif %}

	{% else %}
	<p>Welcome to my simple voting app.</p>
	{% endif %}

	<h2>Join a session</h2>
	<form action="" method="get">
		<legend>Use your code to join a session</legend>
		<label for="code" class="sr-only">Code</label>
		<input type="text" name="code" placeholder="your-code-here">
		<button type="submit">Join</button>
	</form>

	{% if profile %}
	<p>Are you all done? <a href="/logout">Sign out</a></p>
	{% else %}
	<h2>Host your own</h2>
	<p>
		Do you want to start your own surveys or sequences?
		<a class="btn btn-primary btn-lg btn-login btn-block" href="/login">Sign In or Sign Up</a>
	</p>
	{% endif %}
</body>
</html>